.category.active {
    flex-grow: 4;
    transition: 0.5s;
}

.category{
    flex-shrink: 4;
    transition: 0.5s;
}

.category .tasks-list{
    display: none!important;
}

.category.active .tasks-list{
    display: flex!important;
}

.board-wrapper{
    flex:auto;
    display: flex;
}

.board-aside{
    flex:1 1 auto;
}

.board{
    flex:10 1 auto;
}

.board-taskList{
    overflow-y: scroll;
    /* height: 700px; */
}

.btn-add{
    
}

.task:hover{
    transform:scale(1.05);
    transition:0.3s;
}
